@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Outfit:wght@100..900&display=swap');
/* @tailwind base; */
@import "tailwindcss";

*{
  font-family: Outfit;
}

::-webkit-scrollbar{
  @apply hidden
}

